/* Start Viewport desktop */
.wse-men > nav { display:block; }
.wse-men .menu-toggle { display:none; }
#body-content { height:1010px; }
body { background-color:#f3f3f3; background-repeat:repeat; background-size:auto; background-position:0 0; background-attachment:initial; background-image:none; -moz-background-size:auto; -webkit-background-size:auto; }
#stripTool_85 { top:819px; left:0px; width:100%; height:191px; z-index:104; }
#txtBox_104 { top:878px; left:6px; width:559px; height:82px; z-index:105; }
#btnTool_113 { top:878px; left:656px; width:315px; height:75px; z-index:108; }
#btnTool_113 .wseT { line-height:75px; }
#photogallery_105 { top:95px; left:0px; width:980px; height:393px; z-index:112; }
#photogallery_105 .wsg-thumb-container { width:33.3333%; height:50%; }
#photogallery_105 .tc-1 img { margin-top:0px; margin-left:-10px; width:338px; height:190px; }
#photogallery_105 .tc-2 img { margin-top:0px; margin-left:-10px; width:338px; height:190px; }
#photogallery_105 .tc-3 img { margin-top:0px; margin-left:-10px; width:338px; height:190px; }
#photogallery_105 .tc-4 img { margin-top:0px; margin-left:-10px; width:338px; height:190px; }
#photogallery_105 .tc-5 img { margin-top:0px; margin-left:-10px; width:338px; height:190px; }
#photogallery_105 .tc-6 img { margin-top:-25px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-7 img { margin-top:-25px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-8 img { margin-top:-25px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-9 img { margin-top:-25px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-10 img { margin-top:-26px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-11 img { margin-top:-26px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-12 img { margin-top:-26px; margin-left:0px; width:318px; height:239px; }
#photogallery_105 .tc-13 img { margin-top:-26px; margin-left:0px; width:318px; height:239px; }
#txtBox_106 { top:27px; left:28px; width:292px; height:82px; z-index:114; }
#txtBox_107 { top:62px; left:24px; width:230px; height:84px; z-index:116; }
/* End Viewport desktop */
