#txtBox_68 .fs-48 { font-size:48px; }
#txtBox_178 .fs-20 { font-size:20px; }
#txtBox_180 .fs-22 { font-size:22px; }
#txtBox_181 .fs-22 { font-size:22px; }
.clr-txt-hex3b5998 { color:#3b5998!important; }
.clr-txt-hex55acee { color:#55acee!important; }
#txtBox_188 .fs-22 { font-size:22px; }
.clr-txt-hexcd201f { color:#cd201f!important; }
#txtBox_193 .fs-22 { font-size:22px; }
#txtBox_206 .fs-22 { font-size:22px; }
body {  }