/* Start Viewport desktop */
#body-content { height:2192px; }
#txtBox_68 { top:34px; left:51px; width:286px; height:67px; z-index:110; }
#stripTool_170 { top:2001px; left:0px; width:100%; height:191px; z-index:113; }
#txtBox_171 { top:2060px; left:6px; width:559px; height:82px; z-index:114; }
#btnTool_172 { top:2060px; left:656px; width:315px; height:75px; z-index:115; }
#btnTool_172 .wseT { line-height:75px; }
#icon_172 { top:107px; left:24px; width:231px; height:220px; z-index:116; font-size:220px; }
#icon_172 .ico-link { font-size:1em; width:220px; height:220px; margin-top:0px; }
#icon_172 .ico-link i { line-height:220px; }
#txtBox_173 { top:123px; left:255px; width:286px; height:42px; z-index:118; }
#instagramfeed_176 { top:493px; left:69px; width:509px; height:298px; z-index:120; }
#txtBox_177 { top:501px; left:604px; width:286px; height:42px; z-index:121; }
#txtBox_178 { top:462px; left:69px; width:449px; height:50px; z-index:123; }
#icon_179 { top:481px; left:692px; width:272px; height:231px; z-index:122; font-size:231px; }
#icon_179 .ico-link { font-size:1em; width:231px; height:231px; margin-top:0px; }
#icon_179 .ico-link i { line-height:231px; }
#txtBox_180 { top:537px; left:604px; width:286px; height:42px; z-index:124; }
#txtBox_181 { top:154px; left:255px; width:286px; height:42px; z-index:125; }
#pasteDiv_182 { top:327px; left:24px; width:300px; height:38px; z-index:126; }
#imageContainer_185 { top:47px; left:526px; width:364px; height:340px; z-index:127; }
#imageContainer_185 img { margin-top:-5px; margin-left:0px; width:364px; height:349px; }
#icon_186 { top:854px; left:45px; width:199px; height:199px; z-index:133; font-size:199px; }
#icon_186 .ico-link { font-size:1em; width:199px; height:199px; margin-top:0px; }
#icon_186 .ico-link i { line-height:199px; }
#txtBox_187 { top:887px; left:255px; width:286px; height:42px; z-index:132; }
#txtBox_188 { top:922px; left:255px; width:286px; height:42px; z-index:131; }
#pasteDiv_189 { top:955px; left:255px; width:300px; height:200px; z-index:130; }
#imageContainer_190 { top:854px; left:434px; width:445px; height:200px; z-index:129; }
#imageContainer_190 img { margin-top:0px; margin-left:0px; width:445px; height:200px; }
#icon_191 { top:1108px; left:720px; width:215px; height:215px; z-index:135; font-size:215px; }
#icon_191 .ico-link { font-size:1em; width:215px; height:215px; margin-top:0px; }
#icon_191 .ico-link i { line-height:215px; }
#txtBox_192 { top:1128px; left:593px; width:109px; height:42px; z-index:137; }
#txtBox_193 { top:1159px; left:593px; width:99px; height:42px; z-index:136; }
#boxTool_194 { top:828px; left:13px; width:938px; height:252px; z-index:128; }
#boxTool_195 { top:432px; left:13px; width:938px; height:372px; z-index:119; }
#boxTool_196 { top:23px; left:13px; width:938px; height:372px; z-index:109; }
#boxTool_203 { top:1108px; left:13px; width:938px; height:808px; z-index:134; }
#imageContainer_204 { top:1201px; left:25px; width:677px; height:297px; z-index:138; }
#imageContainer_204 img { margin-top:0px; margin-left:0px; width:677px; height:297px; }
#txtBox_205 { top:1511px; left:269px; width:109px; height:42px; z-index:141; }
#txtBox_206 { top:1542px; left:269px; width:286px; height:42px; z-index:140; }
#icon_207 { top:1542px; left:31px; width:215px; height:215px; z-index:139; font-size:215px; }
#icon_207 .ico-link { font-size:1em; width:215px; height:215px; margin-top:0px; }
#icon_207 .ico-link i { line-height:215px; }
#imageContainer_208 { top:1571px; left:261px; width:600px; height:321px; z-index:142; }
#imageContainer_208 img { margin-top:0px; margin-left:0px; width:601px; height:321px; }
body { background-color:transparent; }
/* End Viewport desktop */
